##################################################
# AVA
##################################################

# ava test
snippet test
	test('${1}', t => {
	  ${0}
	})

# t.truthy
snippet truthy
	t.truthy(${1} === ${2})

##################################################
# ES2015
##################################################

# const func
snippet cfunc
	const ${1} = ${2} => {
	  ${0}
	}

# import
snippet import
	import ${1} from '${2}'
